".source.modelica":
  "comments":
    prefix: "/*"
    body: "/* $1 */"
  "model":
    prefix: "model"
    body: "model ${1:Unnamed}\n\t$2\nequation\n\t$3\nend ${1:Unnamed};"
  "function":
    prefix: "function"
    body: "function ${1:foo}\n\t$2\nalgorithm\n\t$3\nend ${1:foo};"
  "record":
    prefix: "record"
    body: "record $1\n\t$2\nend $1;"
  "class":
    prefix: "class"
    body: "class ${1:Unnamed}\n\t$2\nequation\n\t$3\nend ${1:Unnamed};"
  "block":
    prefix: "block"
    body: "blockl ${1:Unnamed}\n\t$2\nequation\n\t$3\nend ${1:Unnamed};"
  "package":
    prefix: "package"
    body: "package $1\n\t$2\nend $1;"
  "for":
    prefix: "for"
    body: "for $1 in $2 loop\n\t$3\nend for;"
  "while":
    prefix: "while"
    body: "while $1 loop\n\t$2\nend while;"
  "if":
    prefix: "if"
    body: "if $1 then\n\t$2\nend if;"
  "when":
    prefix: "when"
    body: "when $1 then\n\t$2\nend when;"
